

.button1{
  padding: 1% 2%;
  background-color: #333;
  border: 1% solid #333;
  color: #fff
}

.button1:hover {
  background-color: #fff;
  border-color: #333;
  color: #333;
}

#btn1{
  margin-right: 6%;
  margin-top: 5%
}

.txt_interval{
  margin-top: 8%
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;
}

.txt_space{
  margin-right: 6%
}

#input_movie{
  margin-bottom: 8%
  
}

/* 「RightToLeft」の動作内容 */
@keyframes RightToLeft {
  0% {
    opacity: 0;/* 透明 */
    transform: translateX(50px);/* X軸方向に50px */
  }
  100% {
    opacity: 1;/* 不透明 */
    transform: translateX(0);
  }
}

/* 「RightToLeft」を適用する箇所 */
h1 {
  animation-duration: 2s;/* アニメーション時間 */
  animation-name: RightToLeft;/* アニメーション名 */
  /* animation-iteration-count: infinite; */ /* アニメーションの繰り返し（無限） */
}

.type-textbound {
  font-size: 60px;
  text-align: center;
}
 
.textbound1 {-webkit-animation: bound .5s ease-in-out;}
.textbound3 {-webkit-animation: bound .7s ease-in-out;}
.textbound2 {-webkit-animation: bound .9s ease-in-out;}
.textbound4 {-webkit-animation: bound 1s ease-in-out;}
 
@-webkit-keyframes bound {
  0% {transform: scale(0) translate(0,-500px);}
  50% {transform: scaleX(2) translate(0,200px);}
  70% {transform: scaleY(.5) translate(0,-100px);}
  90% {transform: scaleX(1.5) translate(0,50px);}
  100% {transform: scale(1) translate(0,0);}
}

.move1{
  animation: anime1 2.0s alternate infinite;
}

@keyframes anime1{
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}


.move2{
  animation: anime2 0.8s alternate infinite;
}

@keyframes anime2{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

.move3{
  animation: anime3 3s reverse infinite;
}

@keyframes anime3{
0% { transform: scale(1); }
60% { transform: scale(1); }
70% { transform: scale(1.3); }
80% { transform: scale(1); }
90% { transform: scale(1.3); }
100% { transform: scale(1); }
}
